/* Sidebar mặc định */
.sidebar {
    width: 250px;
    transition: all 0.3s ease;
}

/* Khi bị thu nhỏ */
.sidebar.collapsed {
    width: 70px; /* Chỉ hiện icon hoặc ẩn hẳn */
    overflow: hidden;
}

/* Điều chỉnh nội dung chính khi sidebar thu nhỏ */
.main-content {
    margin-left: 250px;
    transition: all 0.3s ease;
}

.sidebar-collapsed .main-content {
    margin-left: 70px;
}