<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar" class="sidebar pe-4 pb-3">

    <nav class="navbar bg-secondary navbar-dark">
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="ms-3">
                <h6 class="mb-0" th:text="${session.loggedInUser != null ? session.loggedInUser.username : 'Guest'}">
                    Guest
                </h6>
                <span th:text="${session.roleNames != null and !#lists.isEmpty(session.roleNames) ? #strings.listJoin(session.roleNames, ', ') : 'Guest'}">
                    Role
                </span>
            </div>
        </div>

        <div class="navbar-nav w-100">
            <a th:href="@{/admin}" class="nav-item nav-link"
               th:if="${#lists.contains(session.roleNames, 'Admin') or #lists.contains(session.roleNames, 'Manager')}">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>
            <a href="/admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            <a th:href="@{/course}" class="nav-item nav-link"
               th:if="${#lists.contains(session.roleNames, 'Admin') or #lists.contains(session.roleNames, 'Manager')}">
                <i class="fa fa-book-open me-2"></i>Training Courses
            </a>

            <a th:href="@{/enroll}" class="nav-item nav-link"
               th:if="${#lists.contains(session.roleNames, 'Admin') or #lists.contains(session.roleNames, 'Manager')}">
                <i class="fa fa-clipboard-list me-2"></i>Course Enrollments
            </a>
            <a href="/admin/enrollments" class="nav-item nav-link"><i class="fa fa-clipboard-list me-2"></i>Course Enrollments</a>

            <a th:href="@{/users/list}" class="nav-item nav-link"
               th:if="${#lists.contains(session.roleNames, 'Admin')}">
                <i class="fa fa-users me-2"></i>User Accounts
            </a>

            <a th:href="@{/post}" class="nav-item nav-link"
               th:if="${#lists.contains(session.roleNames, 'Admin') or #lists.contains(session.roleNames, 'Marketing')}">
                <i class="fa fa-file-alt me-2"></i>Post list
            </a>

            <a th:href="@{/setting}" class="nav-item nav-link"
               th:if="${#lists.contains(session.roleNames, 'Admin')}">
                <i class="fa fa-cog me-2"></i>System Settings
            </a>
        </div>
    </nav>
</div>
</body>
</html>