<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar" class="sidebar pe-4 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
    <a th:href="@{/home}" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>StudyHub</h3>
    </a>

    <div class="d-flex align-items-center ms-4 mb-4" th:if="${session.loggedInUser != null}">

      <div class="position-relative" style="width: 40px; height: 40px;">
        <div class="rounded-circle d-flex justify-content-center align-items-center fw-bold overflow-hidden w-100 h-100" style="background-color: #191c24;">
          <img th:if="${session.loggedInUser.avatar != null}"
               th:src="${session.loggedInUser.avatar}"
               alt="User"
               style="width: 100%; height: 100%; object-fit: cover;">

          <span th:if="${session.loggedInUser.avatar == null}"
                class="text-white"
                th:text="${#strings.substring(session.loggedInUser.username, 0, 1).toUpperCase()}">
                  U
          </span>
        </div>
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1" style="z-index: 1;"></div>
      </div>

      <div class="ms-3">
        <h6 class="mb-0 text-white" th:text="${session.loggedInUser.username}">
          Username
        </h6>
        <span th:text="${session.roleNames != null and !#lists.isEmpty(session.roleNames) ? #strings.listJoin(session.roleNames, ', ') : 'Member'}">
          Role
        </span>
      </div>
    </div>

    <div class="ms-4 mb-4 pe-4" th:unless="${session.loggedInUser != null}">
      <a th:href="@{/auth/login}" class="btn btn-primary w-100 py-2 fw-medium rounded-2">
        <i class="fa fa-sign-in-alt me-2"></i> Log In
      </a>
    </div>

    <div class="navbar-nav w-100">
      <a th:href="@{/home(section='courses')}" class="nav-item nav-link"><i class="fa fa-book me-2"></i>Courses</a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-pen-nib me-2"></i>Blogs</a>

      <a href="#" class="nav-item nav-link"
         th:if="${session.roleNames != null and #lists.contains(session.roleNames, 'Marketing')}">
        <i class="fa fa-file-alt me-2"></i>Post List
      </a>

      <a th:href="@{/enroll/my-list}"
         class="nav-item nav-link">
        <i class="fa fa-clipboard-list me-2"></i>My Enrollment
      </a>
    </div>
  </nav>
</div>
</body>
</html>
